/* --- START: Font Definitions --- */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-VariableFont_wdth,wght.woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
/* --- END: Font Definitions --- */

@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

@layer components {
  .section__mainStyle {
    @apply py-[6rem] px-[1rem] flex items-center justify-center [&>div]:max-w-[1350px];
  }

  .section__divider {
    @apply h-[100px] w-[2px] py-[1rem] bg-[#DA9F5B] inline-block;
  }

  .section__h2 {
    @apply uppercase text-[#8b5e2c] text-[1.5rem] font-semibold tracking-[4px];
  }

  .section__h3 {
    @apply text-[calc(1.475rem_+_2.7vw)] lg:text-[72px] text-[#33211D] font-semibold text-center font-roboto capitalize;
  }

  input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* turning black icon to white */
  }
}

@layer theme {
  .swiper-pagination {
    @apply flex items-center justify-center gap-[10px] mt-4 md:mt-8;
  }

  .swiper-pagination-bullet {
    @apply w-[20px] h-[20px] rounded-full bg-[#DA9F5B] transition-all duration-300 cursor-pointer;
  }

  .swiper-pagination-bullet-active {
    @apply bg-[#33211D];
  }

  @media (min-width: 768px) {
    .swiper-pagination-bullet {
      @apply w-[25px] h-[25px];
    }

    .swiper-pagination-bullet-active {
      @apply w-[60px];
    }
  }
}

.initial__loader {
  width: 100vw;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  background: #fffbf2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.initial__loader--container {
  width: 150px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

@keyframes coffeeBeanAnime {
  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.2;
    transform: scale(0.9);
  }
}

.initial__loader--boxes {
  width: 30%;
  height: 28%;
  display: inline-block;
  background: #63291c;
  border-radius: 15px 30px;
  animation: coffeeBeanAnime 0.8s infinite ease-in-out;
}

/* top row */
.initial__loader--boxes:nth-child(1) {
  animation-delay: 0s;
}
.initial__loader--boxes:nth-child(2) {
  rotate: 45deg;
  animation-delay: 0.1s;
}
.initial__loader--boxes:nth-child(3) {
  rotate: 90deg;
  animation-delay: 0.2s;
}
/* middle row */
.initial__loader--boxes:nth-child(4) {
  rotate: -45deg;
  animation-delay: 0.7s;
}
.initial__loader--boxes:nth-child(5) {
  background: transparent;
  animation: none;
}
.initial__loader--boxes:nth-child(6) {
  rotate: -45deg;
  animation-delay: 0.3s;
}
/* bottom row */
.initial__loader--boxes:nth-child(7) {
  rotate: -90deg;
  animation-delay: 0.6s;
}
.initial__loader--boxes:nth-child(8) {
  rotate: 45deg;
  animation-delay: 0.5s;
}
.initial__loader--boxes:nth-child(9) {
  animation-delay: 0.4s;
}

.fade-out {
  animation: fadeOut 0.5s forwards ease-out;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
